{% extends 'website/common/base.html' %}
{% block title %}Dashboard E-commerce Website{% endblock %}

{% block main_content %}    
    <h1>Welcome to the E-commerce Website</h1>
    <p>Explore our wide range of products and enjoy great deals!</p>
    <div class="container py-5">
        <h1 class="mb-4 text-center">Product List</h1>
        <div class="row" id="product-list">
            {% for product in products %}
            <!-- Dummy product cards -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>  
                        <p class="card-text fw-bold">Rs.{{ product.price }}</p>
                    </div>
                    <div class="card-footer text-center">   
                        <a href="#" class="btn btn-primary">View Details</a>        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

